body,
h1,
h2,
p,
ul,
li,
details,
summary, h3 {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-image: url("im1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}

.container1 {
    padding: 30px;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    transition: color 0.5s ease; 
}

h1:hover,
h2:hover {
    color: orangered; 
}

h2 {
    font-size: 35px;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    animation: fadeInUp 1s ease-in-out; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.5s ease;
}

img:hover {
    transform: scale(1.1);
}

.text {
    text-align: left;
    padding: 20px;
}

p {
    font-size: 25px;
    font-weight: bold;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-items: center;
    margin: 30px 0;
}

.about_trivia {
    text-align: left;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.about_trivia h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

summary{
    cursor: pointer;
}

.Achievements {
    text-align: left;
    padding: 20px;
}

.Achievements h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

header {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    width: 100%;
    z-index: 1;
    position: relative;
    animation: slideInDown 1s ease-in-out; 
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 25px;
    padding: 5px 0;
    transition: border-bottom 0.5s ease-in-out;
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.listing{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: black;
}